@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

h1 h2 h3 h4 h5 h6 {
  margin: 0px;
}

/* Utility Classes */

.container {
  margin: 0 auto;
  width: 85%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vr {
  border-right: 1px solid lightgray;
  height: 50px;
  margin: 0px 5px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: CENTER;
  justify-content: space-between;
}

/* Component Classes */

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
  padding: 10px 0px;
}

.filter-button-wrapper {
  display: flex;
  max-width: 80%;
  align-items: center;
}

.filter-button {
  width: 125px;
}

.filter-bar input {
  height: 30px;
  padding: 5px 10px;
  margin-right: 8px;
}

button.filter-button {
  border: 1px solid lightblue;
  padding: 5px 8px;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  height: 40px;
  margin: 0px 8px;
}

.content-grid {
  border: 1px solid lightgray;
  display: grid;
  grid-template-areas:
    "visuals visuals projects"
    "visuals visuals projects"
    "teams teams projects";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
}

.team-notification {
  padding: 10px;
  border-radius: 5px;
  background-color: salmon;
}

.loading-container {
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
  max-height: 600px;
}

.visuals-detail {
  grid-area: visuals;
  padding: 20px;
}

.teams {
  display: flex;
  margin-bottom: 10px;
}

.team-link {
  border: 1px solid gray;
  padding: 5px;
  text-decoration: none;
  margin: 0px 4px;
}

.teams-detail {
  display: flex;
  grid-area: teams;
  background-color: white;
  overflow-x: scroll;
  padding: 10px;
}

.team-block {
  min-width: 250px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.user-chip {
  background-color: gray;
  box-shadow: 0px 1px 2px #333;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.user-chip:hover {
  background-color: lightseagreen;
}

.projects-detail {
  height: 75vh;
  grid-area: projects;
  background-color: lightblue;
  padding: 20px;
}

.projects-detail__overflow {
  max-height: 90%;
  overflow-y: scroll;
}

/* Projects currently use Material components */
.project-detail {
  border: 1px solid green;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 4px;
  display: none;
  width: 80%;
}

.dashboard__content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border: 1px solid black;
}
