@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

/* Utility Classes */

.container {
  margin: 0 auto;
  width: 85%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vr {
  border-right: 1px solid lightgray;
  height: 50px;
  margin: 0px 5px;
}

/* Component Classes */

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
  padding: 10px 0px;
}

.filter-button-wrapper {
  display: flex;
  max-width: 80%;
  align-items: center;
}

.filter-button {
  width: 125px;
}

.filter-bar input {
  height: 30px;
  padding: 5px 10px;
  margin-right: 8px;
}

button.filter-button {
  border: 1px solid lightblue;
  padding: 5px 8px;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  height: 40px;
  margin: 0px 8px;
}

.content-grid {
  display: grid;
  grid-template-areas:
    "visuals visuals projects"
    "visuals visuals projects"
    "teams teams projects";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
}

.team-notification {
  padding: 10px;
  border-radius: 5px;
  background-color: salmon;
}

.data-container {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
  max-height: 600px;
}

.visuals-detail {
  grid-area: visuals;
  background-color: lightpink;
}

.teams-detail {
  display: flex;
  grid-area: teams;
  background-color: lightgreen;
}

.team-block {
  width: 25%;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.projects-detail {
  height: 75vh;
  grid-area: projects;
  background-color: lightblue;
  padding: 20px;
}

.projects-detail__overflow {
  max-height: 90%;
  overflow-y: scroll;
}

/* Projects currently use Material components */
.project-detail {
  border: 1px solid green;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 4px;
  display: none;
  width: 80%;
}
